flows_beaglebone.json
[{"id":"62f393e6.e9d07c","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"fc83feb3.5721","type":"tab","label":"Data Acquisition","disabled":false,"info":""},{"id":"46334e3f.6d41c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c790b93e.53dbf8","type":"ui_tab","name":"Sensor Data","icon":"dashboard","order":1},{"id":"4fa89535.d38cdc","type":"ui_group","name":"Sensor Data","tab":"c790b93e.53dbf8","order":1,"disp":true,"width":"21","collapse":false},{"id":"b7e25e59.b0ac","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":1,"width":1,"height":1},{"id":"3fda9627.a8df6a","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":3,"width":2,"height":1},{"id":"43295f96.e07e9","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":5,"width":2,"height":1},{"id":"2abb24ad.66ebbc","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":7,"width":1,"height":1},{"id":"bf1c55ad.5d1848","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":8,"width":1,"height":1},{"id":"1bd4471d.cb2579","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":9,"width":2,"height":1},{"id":"83ec1a4e.c4c918","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":10,"width":2,"height":1},{"id":"7e66afcd.3f169","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":11,"width":1,"height":1},{"id":"b3bfec9c.b68f9","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":12,"width":21,"height":1},{"id":"6a4b254f.b9b68c","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":14,"width":21,"height":1},{"id":"88c0499d.28ab58","type":"inject","z":"62f393e6.e9d07c","name":"Trigger on Startup","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":190,"y":140,"wires":[["ff91e350.05f3f"]]},{"id":"ff91e350.05f3f","type":"function","z":"62f393e6.e9d07c","name":"Set global variables","func":"// Asset configuration variables\nglobal.set(\"assetId\", \"ANT1095\");\n//global.set(\"fftPoints\",2048);\n\n// Configuration Variables for force and position\n//global.set(\"repeatIntervalAcceleration\", 12.0);       //How often is acceleration data sent (seconds). See https://arch.fis.gatech.edu/message-vibration/\nglobal.set(\"sampleInterval\", 0.00005);    //How fast is the acceleration data sampled (seconds)\nglobal.set(\"sampleSize\", 10000);           //How many acceleration samples are taken each interval. See: https://arch.fis.gatech.edu/message-current/\n\n// Force calibration values\nglobal.set(\"forceCoef0\", -11491 );\nglobal.set(\"forceCoef1\", 5.2552);\n\n// Position calibration values\nglobal.set(\"positionCoef0\", -0.1856);\nglobal.set(\"positionCoef1\", 8.7783e-5);\n\n// Acceleration timestamp\nglobal.set(\"dateTimeAcceleration\", 0)\n\n\n\n// Last heartbeat seed\n//var now = new Date();\n//global.set(\"lastHearbeat\", now.valueOf());\n\nstatusText = \"Variables Set\"\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["f21e4818.3b12f8"]]},{"id":"1994cee.9022131","type":"comment","z":"62f393e6.e9d07c","name":"Modify global variables to change configuration.","info":"","x":520,"y":100,"wires":[]},{"id":"f21e4818.3b12f8","type":"function","z":"62f393e6.e9d07c","name":"Equipment Information Message","func":"var now = new Date();\nvar message = {};\n\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/EquipmentInformation\";\n\nmessage[\"assetId\"] = global.get(\"assetId\");\nmessage[\"dateTime\"] = now.toISOString();\nmessage[\"dataItemId\"] = \"EquipmentInformation\";\nmessage[\"informationId\"] = \"Gateway_Reset\";\n\nmsg.topic = topic\nmsg.payload = message;\n\n// Printout a status variable.\nstatusText = now.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":140,"wires":[["2c2bb3c0.2d71ac"]]},{"id":"2c2bb3c0.2d71ac","type":"debug","z":"62f393e6.e9d07c","name":"Message display.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":140,"wires":[]},{"id":"2d1a29a.ab0cdd6","type":"file in","z":"fc83feb3.5721","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"hex","x":1210,"y":260,"wires":[["2937de33.2f0432","e1859e9a.bf59d"]]},{"id":"2937de33.2f0432","type":"function","z":"fc83feb3.5721","name":"Parse MQTT Message Force","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Force\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Force\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"forceCoef1\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"forceCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = binToV*(parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":260,"wires":[["d264024f.93d47","9012f3e1.5bb87","a74c5dee.93627"]]},{"id":"86f8653a.84a048","type":"exec","z":"fc83feb3.5721","command":"/home/debian/ADCsTimed","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute PRU Measurements","x":900,"y":340,"wires":[["2d1a29a.ab0cdd6","6e4d3404.7db27c","69a70fca.e354c"],["69a70fca.e354c"],["69a70fca.e354c"]]},{"id":"732f01ba.4eabe","type":"ui_chart","z":"fc83feb3.5721","name":"Force-Chart (ADC1)","group":"4fa89535.d38cdc","order":15,"width":0,"height":0,"label":"Force [N] vs Time [sec]","chartType":"line","legend":"false","xformat":"ss.SSS","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2020,"y":120,"wires":[[]]},{"id":"d264024f.93d47","type":"function","z":"fc83feb3.5721","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":120,"wires":[["732f01ba.4eabe"]]},{"id":"a4748229.85d29","type":"function","z":"fc83feb3.5721","name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n//Change the global variables to automate FRF capturing\nglobal.set(\"previousMeasurementDone\",false);\n\nvar count = global.get(\"strikeNumber\") + 1\nglobal.set(\"strikeNumber\", count)\n\nglobal.set(\"startMeasurement\",false);\n\nglobal.set(\"toolInPosition\",false);\n\nsampleInterval = ~~(sampleInterval * 1e9 + 0.5);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":340,"wires":[["86f8653a.84a048","231801cf.2046de"]]},{"id":"cbcc7e1a.aefd4","type":"function","z":"fc83feb3.5721","name":"Parse MQTT Message Position","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Position\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Position\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"positionCoef1\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"positionCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = binToV*parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":400,"wires":[["4883d5da.bd165c","9012f3e1.5bb87","3072a06f.40191"]]},{"id":"6e4d3404.7db27c","type":"file in","z":"fc83feb3.5721","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"x":1210,"y":400,"wires":[["cbcc7e1a.aefd4","e1859e9a.bf59d"]]},{"id":"4883d5da.bd165c","type":"function","z":"fc83feb3.5721","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":520,"wires":[["d89e91fc.c8281"]]},{"id":"d89e91fc.c8281","type":"ui_chart","z":"fc83feb3.5721","name":"Position-Chart (ADC2)","group":"4fa89535.d38cdc","order":13,"width":0,"height":0,"label":"Position [mm] vs Time (sec)","chartType":"line","legend":"false","xformat":"ss.SSS","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2020,"y":520,"wires":[[]]},{"id":"9012f3e1.5bb87","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":320,"wires":[]},{"id":"bbe5b23a.541ad","type":"inject","z":"fc83feb3.5721","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["bd662f66.af26a"]]},{"id":"bd662f66.af26a","type":"function","z":"fc83feb3.5721","name":"Set Time Parameters","func":"flow.set(\"startTime\", 0);\nflow.set(\"endTime\", 0);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[[]]},{"id":"bcc33164.64c0a","type":"comment","z":"fc83feb3.5721","name":"Script to read 2 ADC channels","info":"","x":860,"y":260,"wires":[]},{"id":"387a96d0.081f9a","type":"comment","z":"fc83feb3.5721","name":"Read the sensor measurements","info":"","x":1210,"y":200,"wires":[]},{"id":"8b48024f.2331e","type":"ui_button","z":"fc83feb3.5721","name":"","group":"4fa89535.d38cdc","order":4,"width":5,"height":2,"passthru":false,"label":"Clear Force","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1790,"y":180,"wires":[["732f01ba.4eabe"]]},{"id":"c6902fb8.ef579","type":"ui_button","z":"fc83feb3.5721","name":"","group":"4fa89535.d38cdc","order":6,"width":5,"height":2,"passthru":false,"label":"Clear Position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1760,"y":460,"wires":[["d89e91fc.c8281"]]},{"id":"e1859e9a.bf59d","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":320,"wires":[]},{"id":"a74c5dee.93627","type":"file","z":"fc83feb3.5721","name":"","filename":"/home/debian/frfRawData/force.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1860,"y":260,"wires":[[]]},{"id":"3072a06f.40191","type":"file","z":"fc83feb3.5721","name":"","filename":"/home/debian/frfRawData/position.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1870,"y":400,"wires":[[]]},{"id":"231801cf.2046de","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"69a70fca.e354c","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":340,"wires":[]},{"id":"96dc5aaa.e94708","type":"delay","z":"fc83feb3.5721","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":420,"wires":[["e8327555.0368c8"]]},{"id":"5d6f693a.9bb0a8","type":"ui_switch","z":"fc83feb3.5721","name":"","label":"switch","tooltip":"","group":"4fa89535.d38cdc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":340,"wires":[["96dc5aaa.e94708","1860e0d8.4e10ef"]]},{"id":"ca0905b1.f4caf8","type":"switch","z":"fc83feb3.5721","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":340,"wires":[["a4748229.85d29"]]},{"id":"1860e0d8.4e10ef","type":"delay","z":"fc83feb3.5721","name":"","pauseType":"delay","timeout":"2.97","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":340,"wires":[["ca0905b1.f4caf8"]]},{"id":"e8327555.0368c8","type":"file","z":"fc83feb3.5721","name":"EMAG","filename":"/sys/class/gpio/gpio115/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":420,"wires":[[]]},{"id":"d80ae1b1.5b90d","type":"inject","z":"fc83feb3.5721","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["7d54da1d.e23514"]]},{"id":"7d54da1d.e23514","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":220,"wires":[]}]