nodeRedBackups/flows_beaglebone_210702_182520.json
[{"id":"38d6af4b.f21e6","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"352f8dbc.761952","type":"tab","label":"Data","disabled":false,"info":""},{"id":"834b0b1d.e11328","type":"tab","label":"Control","disabled":false,"info":""},{"id":"9bc2a1fd.b78ff","type":"subflow","name":"Parse Sensor Data","info":"","category":"","in":[{"x":20,"y":140,"wires":[{"id":"71ac1f2b.ef6cc"}]}],"out":[{"x":1260,"y":360,"wires":[{"id":"9facf776.98c658","port":0}]}]},{"id":"91fa423e.ffb48","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":100,"y":180,"wires":[{"id":"3b52cf3d.daa7"}]}],"out":[{"x":740,"y":180,"wires":[{"id":"c5d3f005.efc6e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"30518835.0dcdb8","type":"subflow","name":"Parse by Sensor ID","info":"","category":"","in":[{"x":177,"y":522,"wires":[{"id":"34069d95.dbb512"}]}],"out":[{"x":1380,"y":520,"wires":[{"id":"b4aadfa0.d3cd8","port":0}]}]},{"id":"237bc78.497c338","type":"subflow","name":"Parse Sensor Data","info":"","category":"","in":[{"x":20,"y":140,"wires":[{"id":"bfbdfc05.97b73"}]}],"out":[{"x":1260,"y":360,"wires":[{"id":"eb0c930f.9b239","port":0}]}]},{"id":"446087fb.a7a278","type":"subflow","name":"Subflow 1 (2)","info":"","in":[{"x":100,"y":180,"wires":[{"id":"f04519eb.1a2d98"}]}],"out":[{"x":740,"y":180,"wires":[{"id":"130951f1.44061e","port":0}]}]},{"id":"46334e3f.6d41c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a726aefd.5a191","type":"ui_group","name":"Sensor Data","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"6138e6d.1e8c218","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":6,"width":6,"height":1},{"id":"c8b5523e.2022e","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":7,"width":6,"height":1},{"id":"8249fe9a.5c415","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":8,"width":21,"height":1},{"id":"1016136d.643fcd","type":"ui_tab","name":"form","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"8152b9b5.8b21c8","type":"ui_tab","name":"Sensor Data","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"d3bf3d27.fe6f2","type":"ui_group","name":"Sensor Data","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"501afe43.2af4a","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":6,"width":6,"height":1},{"id":"9ab90178.b4f94","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":7,"width":6,"height":1},{"id":"29c177c7.9c1998","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":8,"width":21,"height":1},{"id":"b26614cb.6d3058","type":"ui_group","name":"Sensor Data","tab":"8152b9b5.8b21c8","order":2,"disp":true,"width":21,"collapse":false},{"id":"322abb65.efd824","type":"ioplugin","name":"Beaglebone","username":"","password":"","boardType":"beaglebone-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":"","samplingInterval":"500"},{"id":"9d945cd3.ab799","type":"ui_group","name":"page1","tab":"1016136d.643fcd","order":1,"disp":false,"width":13,"collapse":false},{"id":"d754dbef.e4f4c8","type":"ui_group","name":"top","tab":"8152b9b5.8b21c8","order":1,"disp":false,"width":21,"collapse":false},{"id":"55a039b7.36e9b8","type":"ui_spacer","name":"spacer","group":"b26614cb.6d3058","order":3,"width":1,"height":1},{"id":"8ab5a9bc.7cf978","type":"ui_spacer","name":"spacer","group":"b26614cb.6d3058","order":6,"width":1,"height":1},{"id":"7942714d.35db6","type":"ui_spacer","name":"spacer","group":"b26614cb.6d3058","order":12,"width":21,"height":1},{"id":"37606e88.f5c332","type":"range","z":"9bc2a1fd.b78ff","minin":"0","maxin":"255","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"8 Bit Digital to 5 Volt Analog Conversion","x":640,"y":360,"wires":[["7bb01605.eacaf8"]]},{"id":"2603dd87.746a02","type":"split","z":"9bc2a1fd.b78ff","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":300,"wires":[["7ff6f924.6cd5c8"]]},{"id":"5f00ca9d.67e184","type":"function","z":"9bc2a1fd.b78ff","name":"Create Array from Payload","func":"var data = msg.payload.toString();\n\ndata = data.split(\",\");\n\nmsg.payload = data.map(Number);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":220,"wires":[["2603dd87.746a02"]]},{"id":"7bb01605.eacaf8","type":"join","z":"9bc2a1fd.b78ff","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":360,"wires":[["9facf776.98c658"]]},{"id":"9facf776.98c658","type":"function","z":"9bc2a1fd.b78ff","name":"Set Flow Variabl;","func":"var value;\n\nvar partId;\nvar units;\n\nvar data = msg.payload;\n\nvar allMessages = [];\n\nvar dataItemId;\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nvar accelLength = global.get(\"accelLength\");\n\nvar maxIter;\n\nif(msg.dataId == \"Accelerometer\"){\n    // maxIter = 1;\n    maxIter = Math.floor(accelLength/data.length);\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    maxIter = 1;\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n    \n}\n\nfor (var i = 0; i < maxIter; i++){\n\n  value = data.slice(i, (i + 1) * accelLength);  \n  for(var j=0; j<value.length; j++){\n      value[j] = value[j].toFixed(3);\n      if(value[j] > 5.00){\n          value.splice(j,1);\n      }\n  }\n\n\n    dataItemId = msg.dataId;\n    topic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n    \n\n    // var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\"}\";\n    var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\",\\\"samplingRate\\\":\\\"\" + samplingRate + \"\\\",\\\"Units\\\":\\\"\" + units + \"\\\",\\\"messagePart\\\":\\\"\" + (i + 1) + \" of \" + maxIter + \"\\\",\\\"partId\\\":\\\"\" + partId + \"\\\"}\";\n    \n    node.log(jsonPayload);\n    \n    // var newMessage = {topic: \"test\"};\n    var newMessage = { topic: topic, payload: jsonPayload };\n    \n    allMessages.push(newMessage);\n}\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[[]]},{"id":"71ac1f2b.ef6cc","type":"change","z":"9bc2a1fd.b78ff","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"|","fromt":"str","to":",","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",\\n","fromt":"str","to":"\\n","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"END","fromt":"str","to":"65537","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":140,"wires":[["5f00ca9d.67e184"]]},{"id":"7ff6f924.6cd5c8","type":"switch","z":"9bc2a1fd.b78ff","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"65537","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":300,"wires":[["48fcda8e.037a84"],["37606e88.f5c332"]]},{"id":"48fcda8e.037a84","type":"change","z":"9bc2a1fd.b78ff","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["37606e88.f5c332"]]},{"id":"5983f0dd.ba0dd","type":"change","z":"30518835.0dcdb8","name":"Assign Accelerometer Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Vibration","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Accelerometer-2","fromt":"str","to":"","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Accelerometer-Pump","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":500,"wires":[["b4aadfa0.d3cd8"]]},{"id":"fc5b91da.4d0ab","type":"join","z":"30518835.0dcdb8","name":"Accelerometer-2","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nAccelerometer-2","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":589,"y":496,"wires":[["5983f0dd.ba0dd"]]},{"id":"3b52cf3d.daa7","type":"change","z":"91fa423e.ffb48","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":",END","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["c5d3f005.efc6e"]]},{"id":"c5d3f005.efc6e","type":"function","z":"91fa423e.ffb48","name":"Set Flow Variable","func":"var data = msg.payload;\ndata = data.split(\",\").map(Number);\ndata = data.toString();\n\nvar partId;\nvar units;\n\nvar allMessages = [];\n\nvar dataItemId = msg.dataId;\nvar itemInstanceId = global.get(\"itemInstanceId\");\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nif(msg.dataId == \"Vibration\"){\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n}\n\ntopic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n\nvar jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"samplingInterval\\\":\\\"\" + samplingRate + \"\\\",\\\"sensorId\\\":\\\"\" + partId + \"\\\",\\\"itemInstanceId\\\":\\\"\" + itemInstanceId + \"\\\",\\\"values\\\":\\\"\" + data +  \"\\\"}\";\nvar newMessage = { topic: topic, payload: jsonPayload };\n\nallMessages.push(newMessage);\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":180,"wires":[[]]},{"id":"34069d95.dbb512","type":"switch","z":"30518835.0dcdb8","name":"Parse Sensor Type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Accelerometer-1","vt":"str"},{"t":"cont","v":"Accelerometer-2","vt":"str"},{"t":"cont","v":"Current","vt":"str"},{"t":"cont","v":"Temperature-1","vt":"str"},{"t":"cont","v":"Temperature-2","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":357,"y":522,"wires":[["38e21190.24df8e"],["fc5b91da.4d0ab"],["2f56cbbd.d866c4"],["a6bf4e33.cbb32"],[]]},{"id":"2f56cbbd.d866c4","type":"join","z":"30518835.0dcdb8","name":"Current - Phase 1","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nCurrent-1","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":599,"y":536,"wires":[["9050e316.71205"]]},{"id":"9050e316.71205","type":"change","z":"30518835.0dcdb8","name":"Assign Current Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Current","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Current-1","fromt":"str","to":"","tot":"str"},{"t":"set","p":"phase","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Current-Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":540,"wires":[["b4aadfa0.d3cd8"]]},{"id":"a6bf4e33.cbb32","type":"join","z":"30518835.0dcdb8","name":"Temperature-1","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nTemperature-1","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":579,"y":576,"wires":[["59f3c0de.def98"]]},{"id":"59f3c0de.def98","type":"change","z":"30518835.0dcdb8","name":"Assign Temperature Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Temperature","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Temperature-1","fromt":"str","to":"","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Temperature-Pump-Outlet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":580,"wires":[["b4aadfa0.d3cd8"]]},{"id":"38e21190.24df8e","type":"join","z":"30518835.0dcdb8","name":"Accelerometer-1","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nAccelerometer-1","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":460,"wires":[["5c0cc07a.de369"]]},{"id":"5c0cc07a.de369","type":"change","z":"30518835.0dcdb8","name":"Assign Accelerometer Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Vibration","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Accelerometer-1","fromt":"str","to":"","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Accelerometer-Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":460,"wires":[["b4aadfa0.d3cd8"]]},{"id":"b4aadfa0.d3cd8","type":"change","z":"30518835.0dcdb8","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":",END","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"END","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":520,"wires":[[]]},{"id":"e3d26894.98f558","type":"range","z":"237bc78.497c338","minin":"0","maxin":"255","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"8 Bit Digital to 5 Volt Analog Conversion","x":640,"y":360,"wires":[["561a8b21.651424"]]},{"id":"fc92491d.dd5c28","type":"split","z":"237bc78.497c338","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":300,"wires":[["df55c717.e9af08"]]},{"id":"3ad5364b.ef5b7a","type":"function","z":"237bc78.497c338","name":"Create Array from Payload","func":"var data = msg.payload.toString();\n\ndata = data.split(\",\");\n\nmsg.payload = data.map(Number);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["fc92491d.dd5c28"]]},{"id":"561a8b21.651424","type":"join","z":"237bc78.497c338","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":360,"wires":[["eb0c930f.9b239"]]},{"id":"eb0c930f.9b239","type":"function","z":"237bc78.497c338","name":"Set Flow Variabl;","func":"var value;\n\nvar partId;\nvar units;\n\nvar data = msg.payload;\n\nvar allMessages = [];\n\nvar dataItemId;\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nvar accelLength = global.get(\"accelLength\");\n\nvar maxIter;\n\nif(msg.dataId == \"Accelerometer\"){\n    // maxIter = 1;\n    maxIter = Math.floor(accelLength/data.length);\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    maxIter = 1;\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n    \n}\n\nfor (var i = 0; i < maxIter; i++){\n\n  value = data.slice(i, (i + 1) * accelLength);  \n  for(var j=0; j<value.length; j++){\n      value[j] = value[j].toFixed(3);\n      if(value[j] > 5.00){\n          value.splice(j,1);\n      }\n  }\n\n\n    dataItemId = msg.dataId;\n    topic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n    \n\n    // var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\"}\";\n    var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\",\\\"samplingRate\\\":\\\"\" + samplingRate + \"\\\",\\\"Units\\\":\\\"\" + units + \"\\\",\\\"messagePart\\\":\\\"\" + (i + 1) + \" of \" + maxIter + \"\\\",\\\"partId\\\":\\\"\" + partId + \"\\\"}\";\n    \n    node.log(jsonPayload);\n    \n    // var newMessage = {topic: \"test\"};\n    var newMessage = { topic: topic, payload: jsonPayload };\n    \n    allMessages.push(newMessage);\n}\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[[]]},{"id":"bfbdfc05.97b73","type":"change","z":"237bc78.497c338","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"|","fromt":"str","to":",","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",\\n","fromt":"str","to":"\\n","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"END","fromt":"str","to":"65537","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":140,"wires":[["3ad5364b.ef5b7a"]]},{"id":"df55c717.e9af08","type":"switch","z":"237bc78.497c338","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"65537","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":300,"wires":[["e8091f11.da1f6"],["e3d26894.98f558"]]},{"id":"e8091f11.da1f6","type":"change","z":"237bc78.497c338","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["e3d26894.98f558"]]},{"id":"f04519eb.1a2d98","type":"change","z":"446087fb.a7a278","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":",END","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["130951f1.44061e"]]},{"id":"130951f1.44061e","type":"function","z":"446087fb.a7a278","name":"Set Flow Variable","func":"var data = msg.payload;\ndata = data.split(\",\").map(Number);\ndata = data.toString();\n\nvar partId;\nvar units;\n\nvar allMessages = [];\n\nvar dataItemId = msg.dataId;\nvar itemInstanceId = global.get(\"itemInstanceId\");\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nif(msg.dataId == \"Vibration\"){\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n}\n\ntopic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n\nvar jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"samplingInterval\\\":\\\"\" + samplingRate + \"\\\",\\\"sensorId\\\":\\\"\" + partId + \"\\\",\\\"itemInstanceId\\\":\\\"\" + itemInstanceId + \"\\\",\\\"values\\\":\\\"\" + data +  \"\\\"}\";\nvar newMessage = { topic: topic, payload: jsonPayload };\n\nallMessages.push(newMessage);\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":180,"wires":[[]]},{"id":"fa8fc160.a4365","type":"inject","z":"38d6af4b.f21e6","name":"Trigger on Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":150,"y":80,"wires":[["78a164ab.7c307c"]]},{"id":"78a164ab.7c307c","type":"function","z":"38d6af4b.f21e6","name":"Set global variables","func":"// Asset configuration variables\nglobal.set(\"assetId\", \"ANT1095\");\n//global.set(\"fftPoints\",2048);\n\n// Configuration Variables for force and position\n//global.set(\"repeatIntervalAcceleration\", 12.0);       //How often is acceleration data sent (seconds). See https://arch.fis.gatech.edu/message-vibration/\nglobal.set(\"sampleInterval\", 0.00005);    //How fast is the acceleration data sampled (seconds)\nglobal.set(\"sampleSize\", 20000);           //How many acceleration samples are taken each interval. See: https://arch.fis.gatech.edu/message-current/\nglobal.set(\"segmentWidth\",1000); //segment width of frf algorithm\nglobal.set(\"plotFreq\",4000); // max frequency of frf algorithm\n\n// Force calibration values\nglobal.set(\"forceCoef0\", -11491 );\nglobal.set(\"forceCoef1\", 5.2552);\n\n// Position calibration values\nglobal.set(\"positionCoef0\", -0.1856);\nglobal.set(\"positionCoef1\", 8.7783e-5);\n\n// Acceleration timestamp\nglobal.set(\"dateTimeAcceleration\", 0)\n\n\n\n// Last heartbeat seed\n//var now = new Date();\n//global.set(\"lastHearbeat\", now.valueOf());\n\nstatusText = \"Variables Set\"\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":80,"wires":[["7d30746a.895eec","73104949.8d2688","1226de24.2cbc62"]]},{"id":"30927366.489ccc","type":"comment","z":"38d6af4b.f21e6","name":"Modify global variables to change configuration.","info":"","x":540,"y":40,"wires":[]},{"id":"7d30746a.895eec","type":"function","z":"38d6af4b.f21e6","name":"Equipment Information Message","func":"var now = new Date();\nvar message = {};\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/EquipmentInformation\";\n\nmessage[\"assetId\"] = global.get(\"assetId\");\nmessage[\"dateTime\"] = now.toString();\nmessage[\"dataItemId\"] = \"EquipmentInformation\";\nmessage[\"informationId\"] = \"Gateway_Reset\";\n\nmsg.topic = topic\nmsg.payload = message;\n\n// Printout a status variable.\nstatusText = now.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":80,"wires":[["c4c7cf13.0715d"]]},{"id":"c4c7cf13.0715d","type":"debug","z":"38d6af4b.f21e6","name":"Message display.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":80,"wires":[]},{"id":"61dc9bb0.f51b64","type":"file in","z":"352f8dbc.761952","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"hex","x":1030,"y":80,"wires":[["80514a4b.1447a8"]]},{"id":"80514a4b.1447a8","type":"function","z":"352f8dbc.761952","name":"Parse Force","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Force\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = now.toString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Force\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"forceCoef1\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"forceCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = binToV*(parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"force\",payload[\"values\"]);\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":80,"wires":[["3872b2e9.6657de","5069aefb.4bcbb","2c74981.036b368"]]},{"id":"74223f2b.eb1a2","type":"exec","z":"352f8dbc.761952","command":"/home/debian/ADCsTimed","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Sample ADCs","x":740,"y":140,"wires":[["61dc9bb0.f51b64","7f8d09e5.f43928","8ab919b.b24bce8"],["8ab919b.b24bce8"],["8ab919b.b24bce8"]]},{"id":"29a78bbc.7f6264","type":"function","z":"352f8dbc.761952","name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n//Change the global variables to automate FRF capturing\nglobal.set(\"previousMeasurementDone\",false);\n\nvar count = global.get(\"strikeNumber\") + 1\nglobal.set(\"strikeNumber\", count)\n\nglobal.set(\"startMeasurement\",false);\n\nglobal.set(\"toolInPosition\",false);\n\nsampleInterval = ~~(sampleInterval * 1e9 + 0.5);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["74223f2b.eb1a2","165347d5.1f8308"]]},{"id":"a49327f2.88e828","type":"function","z":"352f8dbc.761952","name":"Parse Position","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Position\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = now.toString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Position\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"positionCoef1\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"positionCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = binToV*parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"position\",payload[\"values\"]);\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":200,"wires":[["9c9a90d9.d9c0b","5069aefb.4bcbb","f4ca9733.345bd8"]]},{"id":"7f8d09e5.f43928","type":"file in","z":"352f8dbc.761952","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"x":1030,"y":200,"wires":[["a49327f2.88e828"]]},{"id":"2fec1dea.b4d0b2","type":"comment","z":"352f8dbc.761952","name":"Script to read 2 ADC channels","info":"","x":740,"y":80,"wires":[]},{"id":"d3a5cf07.b6409","type":"comment","z":"352f8dbc.761952","name":"Read the sensor measurements","info":"","x":1030,"y":40,"wires":[]},{"id":"165347d5.1f8308","type":"debug","z":"352f8dbc.761952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"8ab919b.b24bce8","type":"debug","z":"352f8dbc.761952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":140,"wires":[]},{"id":"c8dc37ac.8100f8","type":"delay","z":"352f8dbc.761952","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":180,"wires":[["cb6c167e.d69218"]]},{"id":"d4741a28.334408","type":"ui_switch","z":"352f8dbc.761952","name":"","label":"Measure","tooltip":"","group":"b26614cb.6d3058","order":4,"width":5,"height":2,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":true,"x":80,"y":80,"wires":[["ac34cf52.b6d51"]]},{"id":"a10b2b7b.a50608","type":"delay","z":"352f8dbc.761952","name":"","pauseType":"delay","timeout":"2.97","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":140,"wires":[["29a78bbc.7f6264"]]},{"id":"f4ca0b03.753778","type":"comment","z":"38d6af4b.f21e6","name":"Runs once on Deploy","info":"","x":160,"y":40,"wires":[]},{"id":"28b66afb.c60a46","type":"exec","z":"38d6af4b.f21e6","command":"/home/debian/backupNR.sh","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Backup NR Flow","x":310,"y":380,"wires":[[],[],[]]},{"id":"6c9ed162.591e8","type":"inject","z":"38d6af4b.f21e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["28b66afb.c60a46"]]},{"id":"699b985b.fc67f8","type":"comment","z":"38d6af4b.f21e6","name":"Backup Node Red Flow","info":"","x":140,"y":340,"wires":[]},{"id":"ac34cf52.b6d51","type":"switch","z":"352f8dbc.761952","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":120,"wires":[["e78ad444.643888","41032d24.9fce24"],["a10b2b7b.a50608","c8dc37ac.8100f8"]]},{"id":"e78ad444.643888","type":"trigger","z":"352f8dbc.761952","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":100,"wires":[["367db6e.10ef14a"]]},{"id":"d089dba0.e0b268","type":"exec","z":"38d6af4b.f21e6","command":"/home/debian/ADCsTimed","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Calibration Measurement","x":390,"y":240,"wires":[["66deb6a7.127bb8","9fe2a4ba.fb9e28","51a1cf36.a3b77"],["51a1cf36.a3b77"],["51a1cf36.a3b77"]]},{"id":"1226de24.2cbc62","type":"function","z":"38d6af4b.f21e6","d":true,"name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n//Change the global variables to automate FRF capturing\nglobal.set(\"previousMeasurementDone\",false);\n\nvar count = global.get(\"strikeNumber\") + 1\nglobal.set(\"strikeNumber\", count)\n\nglobal.set(\"startMeasurement\",false);\n\nglobal.set(\"toolInPosition\",false);\n\nsampleInterval = ~~(sampleInterval * 1e9);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["d089dba0.e0b268"]]},{"id":"9fe2a4ba.fb9e28","type":"file in","z":"38d6af4b.f21e6","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"hex","x":670,"y":200,"wires":[["84ac8e13.4cb8"]]},{"id":"84ac8e13.4cb8","type":"function","z":"38d6af4b.f21e6","name":"Calibrate Force","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Force\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Force\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"forceCoef1\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"forceCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = (parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\nvar sum=0;\nvar average=0;\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    sum=sum+payload[\"values\"][i];\n}\naverage=parseFloat(sum/global.get(\"sampleSize\"));\nglobal.set(\"forceCoef0\", global.get(\"forceCoef1\") *(-1)*average );\n\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":200,"wires":[[]]},{"id":"b14e8f54.50026","type":"function","z":"38d6af4b.f21e6","name":"Calibrate Position","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Position\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Position\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"positionCoef1\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"positionCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\nvar sum=0;\nvar average=0;\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    sum=sum+payload[\"values\"][i];\n}\naverage=parseFloat(sum/global.get(\"sampleSize\"));\n\n\n// Position calibration values\nglobal.set(\"positionCoef0\", global.get(\"positionCoef1\") *(-1)*average );\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":260,"wires":[[]]},{"id":"66deb6a7.127bb8","type":"file in","z":"38d6af4b.f21e6","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"x":670,"y":260,"wires":[["b14e8f54.50026"]]},{"id":"73104949.8d2688","type":"trigger","z":"38d6af4b.f21e6","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":140,"wires":[["a562416d.722fe"]]},{"id":"b84b4f5b.53294","type":"function","z":"38d6af4b.f21e6","name":"Zero Laser","func":"var b = context.global.bonescript;\nvar val = msg.payload;\nvar pin = 'P9_30';\nb.pinMode(pin, b.OUTPUT);\nb.digitalWrite(pin, val);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":380,"wires":[[]]},{"id":"51a1cf36.a3b77","type":"debug","z":"38d6af4b.f21e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"d5087879.f01168","type":"ui_button","z":"38d6af4b.f21e6","name":"","group":"b26614cb.6d3058","order":5,"width":5,"height":2,"passthru":false,"label":"Calibrate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":140,"wires":[["78a164ab.7c307c"]]},{"id":"c853778e.f32d98","type":"ui_chart","z":"352f8dbc.761952","name":"Force-Chart (ADC1)","group":"b26614cb.6d3058","order":8,"width":0,"height":0,"label":"Force [N] vs Time [sec]","chartType":"line","legend":"false","xformat":"ss.SSS","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1680,"y":80,"wires":[[]]},{"id":"3872b2e9.6657de","type":"function","z":"352f8dbc.761952","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":80,"wires":[["c853778e.f32d98"]]},{"id":"9c9a90d9.d9c0b","type":"function","z":"352f8dbc.761952","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":240,"wires":[["b1bd322a.f8c76"]]},{"id":"b1bd322a.f8c76","type":"ui_chart","z":"352f8dbc.761952","name":"Position-Chart (ADC2)","group":"b26614cb.6d3058","order":7,"width":0,"height":0,"label":"Position [mm] vs Time (sec)","chartType":"line","legend":"false","xformat":"ss.SSS","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1680,"y":240,"wires":[[]]},{"id":"5069aefb.4bcbb","type":"debug","z":"352f8dbc.761952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":160,"wires":[]},{"id":"ad5d4a99.65f018","type":"ui_button","z":"352f8dbc.761952","name":"","group":"b26614cb.6d3058","order":1,"width":5,"height":2,"passthru":false,"label":"Clear Force","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1650,"y":120,"wires":[["c853778e.f32d98"]]},{"id":"6f997b25.ec2a64","type":"ui_button","z":"352f8dbc.761952","name":"","group":"b26614cb.6d3058","order":2,"width":5,"height":2,"passthru":false,"label":"Clear Position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1660,"y":200,"wires":[["b1bd322a.f8c76"]]},{"id":"2c74981.036b368","type":"file","z":"352f8dbc.761952","name":"Save Force Data","filename":"/home/debian/frfRawData/force.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1470,"y":120,"wires":[[]]},{"id":"f4ca9733.345bd8","type":"file","z":"352f8dbc.761952","name":"Save Position Data","filename":"/home/debian/frfRawData/position.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1470,"y":200,"wires":[[]]},{"id":"6695df21.ca5f7","type":"change","z":"352f8dbc.761952","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":320,"wires":[["17162599.7f049a"]]},{"id":"bdc89a5f.716e58","type":"file in","z":"352f8dbc.761952","name":"Read FRF Data","filename":"/home/debian/frfRawData/frf.txt","format":"utf8","chunk":false,"sendError":false,"x":500,"y":320,"wires":[["6695df21.ca5f7"]]},{"id":"17162599.7f049a","type":"json","z":"352f8dbc.761952","name":"","property":"payload","action":"","pretty":false,"x":870,"y":320,"wires":[["600ca8fc.3394d8","99c101e6.a3dd5","5b05dd46.350b54"]]},{"id":"ad35341.10a07c8","type":"exec","z":"352f8dbc.761952","command":"python3 /home/debian/frf_beaglebone_v1.py","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"FRF","x":290,"y":340,"wires":[["8d945829.ce6728","bdc89a5f.716e58"],["8d945829.ce6728"],["8d945829.ce6728"]]},{"id":"600ca8fc.3394d8","type":"function","z":"352f8dbc.761952","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.frequency;\nlet mag = msg.payload.magnitude;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\n//for (let i = 0; i < freq.length; i++) {\n//   diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n//}\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":320,"wires":[["d458c338.0cb91"]]},{"id":"99c101e6.a3dd5","type":"function","z":"352f8dbc.761952","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.frequency;\nlet ang = msg.payload.angle;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": ang[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":360,"wires":[["a618aa00.0223b8"]]},{"id":"5b05dd46.350b54","type":"function","z":"352f8dbc.761952","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.frequency;\nlet coh = msg.payload.coh;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\n//for (let i = 0; i < freq.length; i++) {\n//   diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n//}\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": coh[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\nglobal.set(\"previousMeasurementDone\",true);\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":400,"wires":[["5cbf605e.a1a7d"]]},{"id":"c23c3402.2ed768","type":"function","z":"352f8dbc.761952","name":"FRF Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleFreq = Math.round(1/global.get(\"sampleInterval\"));\nvar segmentWidth = global.get(\"segmentWidth\");\nvar plotFreq = global.get(\"plotFreq\");\n\n//for v1 python script\nmsg.payload = ' ' + sampleFreq.toString() + ' ' + segmentWidth.toString();\n//for v2 python script\n//msg.payload = ' ' + sampleFreq.toString() + ' ' + segmentWidth.toString() + ' ' + plotFreq.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":320,"wires":[["ad35341.10a07c8","692bdb76.581024"]]},{"id":"8d945829.ce6728","type":"debug","z":"352f8dbc.761952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]},{"id":"d458c338.0cb91","type":"ui_chart","z":"352f8dbc.761952","name":"Magnitude","group":"b26614cb.6d3058","order":9,"width":0,"height":0,"label":"Magnitude vs Frequency (Hz)","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1370,"y":320,"wires":[[]]},{"id":"a618aa00.0223b8","type":"ui_chart","z":"352f8dbc.761952","name":"Angle","group":"b26614cb.6d3058","order":10,"width":0,"height":0,"label":"Angle (°) vs Frequency (Hz)","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":360,"wires":[[]]},{"id":"5cbf605e.a1a7d","type":"ui_chart","z":"352f8dbc.761952","name":"Coherence","group":"b26614cb.6d3058","order":11,"width":0,"height":0,"label":"Coherence vs Frequency (Hz)","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1.2","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1370,"y":400,"wires":[[]]},{"id":"8f744cec.187bc","type":"complete","z":"352f8dbc.761952","name":"","scope":["2c74981.036b368","f4ca9733.345bd8"],"uncaught":false,"x":90,"y":280,"wires":[["c23c3402.2ed768"]]},{"id":"692bdb76.581024","type":"debug","z":"352f8dbc.761952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":280,"wires":[]},{"id":"7b50933a.a39e8c","type":"comment","z":"352f8dbc.761952","name":"Measure Vibration","info":"","x":110,"y":40,"wires":[]},{"id":"c8f4e1b5.564cd","type":"comment","z":"352f8dbc.761952","name":"Compute FRF","info":"","x":90,"y":240,"wires":[]},{"id":"5e7f3bdc.57a224","type":"ui_form","z":"834b0b1d.e11328","name":"","label":"","group":"9d945cd3.ab799","order":1,"width":0,"height":0,"options":[{"label":"Machine name","value":"machine","type":"text","required":true,"rows":null},{"label":"Experimental setup: Additional comments","value":"comments","type":"multiline","required":true,"rows":3}],"formValue":{"machine":"","comments":""},"payload":"","submit":"Start measurement","cancel":"Clear","topic":"","x":90,"y":100,"wires":[["1c1c4916.139407"]]},{"id":"1c1c4916.139407","type":"function","z":"834b0b1d.e11328","name":"set global parameters from form","func":"global.set(\"machine\",msg.payload[\"machine\"]);\nglobal.set(\"comments\",msg.payload[\"comments\"]);\nmsg.payload=\"Sensor Data\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["6762ac4a.9c9cb4"]]},{"id":"6762ac4a.9c9cb4","type":"ui_ui_control","z":"834b0b1d.e11328","name":"","events":"change","x":500,"y":100,"wires":[[]]},{"id":"3df3148d.dda5cc","type":"file","z":"834b0b1d.e11328","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1010,"y":320,"wires":[[]]},{"id":"2480a4fc.fde24c","type":"comment","z":"834b0b1d.e11328","name":"Sensor Data Tab","info":"","x":120,"y":140,"wires":[]},{"id":"8aa3a528.159018","type":"ui_ui_control","z":"834b0b1d.e11328","name":"Change tab","events":"change","x":350,"y":340,"wires":[[]]},{"id":"d555f0f7.17f64","type":"ui_button","z":"834b0b1d.e11328","name":"Save and exit","group":"b26614cb.6d3058","order":14,"width":0,"height":0,"passthru":false,"label":"Save and exit","tooltip":"","color":"","bgcolor":"GREEN","icon":"","payload":"form","payloadType":"str","topic":"","x":120,"y":220,"wires":[["8aa3a528.159018","ce373e28.8e9a1","e5c62e16.bc9c3","4ccde3a6.885d1c","1b87a7c.bd38258"]]},{"id":"47ae3c31.68de14","type":"ui_button","z":"834b0b1d.e11328","name":"Cancel","group":"b26614cb.6d3058","order":16,"width":0,"height":0,"passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"RED","icon":"","payload":"form","payloadType":"str","topic":"","x":90,"y":340,"wires":[["8aa3a528.159018","ce373e28.8e9a1"]]},{"id":"d2a50880.ea7548","type":"ui_text_input","z":"834b0b1d.e11328","name":"","label":"Evaluation: Additional comments","tooltip":"","group":"b26614cb.6d3058","order":13,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":170,"y":180,"wires":[["bc59d452.e8fac8"]]},{"id":"bc59d452.e8fac8","type":"function","z":"834b0b1d.e11328","name":"set global parameters from text input","func":"global.set(\"evaluation\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[[]]},{"id":"39af96af.6d4aba","type":"ui_button","z":"834b0b1d.e11328","name":"Save and continue","group":"b26614cb.6d3058","order":15,"width":0,"height":0,"passthru":false,"label":"Save and continue","tooltip":"","color":"","bgcolor":"GREEN","icon":"","payload":"{\"group\": {\"hide\": [\"Sensor_Data_Sensor_Data\"]}}","payloadType":"str","topic":"","x":130,"y":420,"wires":[["6ac528e.205b5d8","5dd2b4f6.b831cc","f3e8e713.ff5a08","a07b0a1c.e1a2a8"]]},{"id":"799067f9.533f78","type":"ui_ui_control","z":"834b0b1d.e11328","name":"","events":"change","x":560,"y":420,"wires":[[]]},{"id":"6ac528e.205b5d8","type":"function","z":"834b0b1d.e11328","name":"scroll to top of page","func":"msg.payload={\"group\": {\"show\": [\"Sensor_Data_top\"],\"focus\":true}};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["799067f9.533f78"]]},{"id":"7fcb1e02.6e5eb","type":"file","z":"834b0b1d.e11328","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":890,"y":560,"wires":[["dbeb774b.c849c8"]]},{"id":"1f24cf2.2887531","type":"ui_text","z":"834b0b1d.e11328","group":"d754dbef.e4f4c8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":560,"wires":[]},{"id":"dbeb774b.c849c8","type":"function","z":"834b0b1d.e11328","name":"Display text","func":"msg.payload=msg.filename+\" succesfully saved. Ready for next measurement.\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1030,"y":560,"wires":[["1f24cf2.2887531"]]},{"id":"ce373e28.8e9a1","type":"function","z":"834b0b1d.e11328","name":"hide top of page","func":"msg.payload={\"group\": {\"hide\": [\"Sensor_Data_top\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["e579f9e1.65fab8"]]},{"id":"e579f9e1.65fab8","type":"ui_ui_control","z":"834b0b1d.e11328","name":"","events":"change","x":520,"y":380,"wires":[[]]},{"id":"11a6a55.a85595b","type":"inject","z":"834b0b1d.e11328","name":"Trigger on Startup","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"form","payloadType":"str","x":150,"y":60,"wires":[["27c3cf88.18983"]]},{"id":"27c3cf88.18983","type":"ui_ui_control","z":"834b0b1d.e11328","name":"Change tab","events":"change","x":330,"y":60,"wires":[[]]},{"id":"5dd2b4f6.b831cc","type":"file in","z":"834b0b1d.e11328","name":"Force","filename":"/home/debian/frfRawData/force.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":460,"wires":[["8656b1ac.0493d"]]},{"id":"f3e8e713.ff5a08","type":"file in","z":"834b0b1d.e11328","name":"Position","filename":"/home/debian/frfRawData/position.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":500,"wires":[["f7026737.c75ff8"]]},{"id":"a07b0a1c.e1a2a8","type":"file in","z":"834b0b1d.e11328","name":"FRF","filename":"/home/debian/frfRawData/frf.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":540,"wires":[["43aa66e5.3ac3a8"]]},{"id":"8656b1ac.0493d","type":"change","z":"834b0b1d.e11328","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["bb5ee53b.2b3c88"]]},{"id":"bb5ee53b.2b3c88","type":"json","z":"834b0b1d.e11328","name":"","property":"payload","action":"","pretty":false,"x":730,"y":460,"wires":[["95767f6f.7cefc"]]},{"id":"f7026737.c75ff8","type":"change","z":"834b0b1d.e11328","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["c6972e28.161b1"]]},{"id":"c6972e28.161b1","type":"json","z":"834b0b1d.e11328","name":"","property":"payload","action":"","pretty":false,"x":730,"y":500,"wires":[["95767f6f.7cefc"]]},{"id":"43aa66e5.3ac3a8","type":"change","z":"834b0b1d.e11328","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["61553bc9.6f0dc4"]]},{"id":"61553bc9.6f0dc4","type":"json","z":"834b0b1d.e11328","name":"","property":"payload","action":"","pretty":false,"x":730,"y":540,"wires":[["95767f6f.7cefc"]]},{"id":"95767f6f.7cefc","type":"join","z":"834b0b1d.e11328","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":500,"wires":[["7be11720.0871f8"]]},{"id":"7be11720.0871f8","type":"function","z":"834b0b1d.e11328","name":"","func":"//Format Payload\nvar payload = {};\nvar now = new Date();\npayload[\"timestamp\"]=now.toString();\npayload[\"machine\"]=global.get(\"machine\");\npayload[\"comments\"]=global.get(\"comments\");\npayload[\"sampleInterval\"]=global.get(\"sampleInterval\");\npayload[\"sampleSize\"]=global.get(\"sampleSize\");\npayload[\"evaluation\"]=global.get(\"evaluation\");\npayload[\"frequency\"]=msg.payload[0].frequency;\npayload[\"magnitude\"]=msg.payload[0].magnitude;\npayload[\"angle\"]=msg.payload[0].angle;\npayload[\"coherence\"]=msg.payload[0].coh;\npayload[\"real\"]=msg.payload[0].real;\npayload[\"imaginary\"]=msg.payload[0].imag;\npayload[\"force\"]=msg.payload[1].values;\npayload[\"position\"]=msg.payload[2].values;\n\n//Format Filename\nyr = now.getFullYear();\nmo = String(now.getMonth()+1).padStart(2,'0');\nday = String(now.getDate()).padStart(2,'0');\nhr = String(now.getHours()).padStart(2,'0');\nmin = String(now.getMinutes()).padStart(2,'0');\nsec = String(now.getSeconds()).padStart(2,'0');\ntimestampStr = [yr,mo,day].join('');\ntimestampStr = [timestampStr,'_',hr,min,sec].join('');\nmsg.filename = \"/home/debian/frfRawData/data_\" + timestampStr + \".txt\";\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":500,"wires":[["7fcb1e02.6e5eb"]]},{"id":"e5c62e16.bc9c3","type":"file in","z":"834b0b1d.e11328","name":"Force","filename":"/home/debian/frfRawData/force.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":220,"wires":[["ea3bc886.766778"]]},{"id":"4ccde3a6.885d1c","type":"file in","z":"834b0b1d.e11328","name":"Position","filename":"/home/debian/frfRawData/position.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":260,"wires":[["df27dcf1.3d0ce"]]},{"id":"ea3bc886.766778","type":"change","z":"834b0b1d.e11328","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["4d925dd7.7ab904"]]},{"id":"4d925dd7.7ab904","type":"json","z":"834b0b1d.e11328","name":"","property":"payload","action":"","pretty":false,"x":690,"y":220,"wires":[["f63805cf.22e6c8"]]},{"id":"df27dcf1.3d0ce","type":"change","z":"834b0b1d.e11328","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["ce935eb8.7e9a8"]]},{"id":"ce935eb8.7e9a8","type":"json","z":"834b0b1d.e11328","name":"","property":"payload","action":"","pretty":false,"x":690,"y":260,"wires":[["f63805cf.22e6c8"]]},{"id":"f63805cf.22e6c8","type":"join","z":"834b0b1d.e11328","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":260,"wires":[["ca5f19e6.1e5ed8"]]},{"id":"ca5f19e6.1e5ed8","type":"function","z":"834b0b1d.e11328","name":"","func":"//Format Payload\nvar payload = {};\nvar now = new Date();\npayload[\"timestamp\"]=now.toString();\npayload[\"machine\"]=global.get(\"machine\");\npayload[\"comments\"]=global.get(\"comments\");\npayload[\"sampleInterval\"]=global.get(\"sampleInterval\");\npayload[\"sampleSize\"]=global.get(\"sampleSize\");\npayload[\"evaluation\"]=global.get(\"evaluation\");\npayload[\"frequency\"]=msg.payload[0].frequency;\npayload[\"magnitude\"]=msg.payload[0].magnitude;\npayload[\"angle\"]=msg.payload[0].angle;\npayload[\"coherence\"]=msg.payload[0].coh;\npayload[\"real\"]=msg.payload[0].real;\npayload[\"imaginary\"]=msg.payload[0].imag;\npayload[\"force\"]=msg.payload[1].values;\npayload[\"position\"]=msg.payload[2].values;\n\n//Format Filename\nyr = now.getFullYear();\nmo = String(now.getMonth()+1).padStart(2,'0');\nday = String(now.getDate()).padStart(2,'0');\nhr = String(now.getHours()).padStart(2,'0');\nmin = String(now.getMinutes()).padStart(2,'0');\nsec = String(now.getSeconds()).padStart(2,'0');\ntimestampStr = [yr,mo,day].join('');\ntimestampStr = [timestampStr,'_',hr,min,sec].join('');\nmsg.filename = \"/home/debian/frfRawData/data_\" + timestampStr + \".txt\";\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":320,"wires":[["3df3148d.dda5cc"]]},{"id":"1b87a7c.bd38258","type":"file in","z":"834b0b1d.e11328","name":"FRF","filename":"/home/debian/frfRawData/frf.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":300,"wires":[["b889b4e7.24db58"]]},{"id":"b889b4e7.24db58","type":"change","z":"834b0b1d.e11328","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["fe1a648e.59d2d8"]]},{"id":"fe1a648e.59d2d8","type":"json","z":"834b0b1d.e11328","name":"","property":"payload","action":"","pretty":false,"x":690,"y":300,"wires":[["f63805cf.22e6c8"]]},{"id":"a562416d.722fe","type":"file","z":"38d6af4b.f21e6","name":"Zero Laser","filename":"/sys/class/gpio/gpio112/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":810,"y":140,"wires":[[]]},{"id":"367db6e.10ef14a","type":"file","z":"352f8dbc.761952","name":"Zero Laser","filename":"/sys/class/gpio/gpio112/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":470,"y":100,"wires":[[]]},{"id":"41032d24.9fce24","type":"file","z":"352f8dbc.761952","name":"EMAG","filename":"/sys/class/gpio/gpio115/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":270,"y":60,"wires":[[]]},{"id":"cb6c167e.d69218","type":"file","z":"352f8dbc.761952","name":"EMAG","filename":"/sys/class/gpio/gpio115/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":450,"y":180,"wires":[[]]}]