nodeRedBackups/flows_beaglebone_210623_164421.json
[{"id":"62f393e6.e9d07c","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"fc83feb3.5721","type":"tab","label":"Data Acquisition","disabled":false,"info":""},{"id":"da968ef1.da21f","type":"tab","label":"Start","disabled":true,"info":""},{"id":"bffdb4df.cd5f48","type":"tab","label":"Data","disabled":true,"info":""},{"id":"9bc2a1fd.b78ff","type":"subflow","name":"Parse Sensor Data","info":"","category":"","in":[{"x":20,"y":140,"wires":[{"id":"71ac1f2b.ef6cc"}]}],"out":[{"x":1260,"y":360,"wires":[{"id":"9facf776.98c658","port":0}]}]},{"id":"91fa423e.ffb48","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":100,"y":180,"wires":[{"id":"3b52cf3d.daa7"}]}],"out":[{"x":740,"y":180,"wires":[{"id":"c5d3f005.efc6e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"30518835.0dcdb8","type":"subflow","name":"Parse by Sensor ID","info":"","category":"","in":[{"x":177,"y":522,"wires":[{"id":"34069d95.dbb512"}]}],"out":[{"x":1380,"y":520,"wires":[{"id":"b4aadfa0.d3cd8","port":0}]}]},{"id":"237bc78.497c338","type":"subflow","name":"Parse Sensor Data","info":"","category":"","in":[{"x":20,"y":140,"wires":[{"id":"bfbdfc05.97b73"}]}],"out":[{"x":1260,"y":360,"wires":[{"id":"eb0c930f.9b239","port":0}]}]},{"id":"446087fb.a7a278","type":"subflow","name":"Subflow 1 (2)","info":"","in":[{"x":100,"y":180,"wires":[{"id":"f04519eb.1a2d98"}]}],"out":[{"x":740,"y":180,"wires":[{"id":"130951f1.44061e","port":0}]}]},{"id":"46334e3f.6d41c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c790b93e.53dbf8","type":"ui_tab","name":"Sensor Data","icon":"dashboard","order":1},{"id":"4fa89535.d38cdc","type":"ui_group","name":"Sensor Data","tab":"c790b93e.53dbf8","order":1,"disp":true,"width":"21","collapse":false},{"id":"b7e25e59.b0ac","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":1,"width":1,"height":1},{"id":"3fda9627.a8df6a","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":3,"width":2,"height":1},{"id":"43295f96.e07e9","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":5,"width":2,"height":1},{"id":"2abb24ad.66ebbc","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":7,"width":1,"height":1},{"id":"bf1c55ad.5d1848","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":8,"width":1,"height":1},{"id":"1bd4471d.cb2579","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":9,"width":2,"height":1},{"id":"83ec1a4e.c4c918","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":10,"width":2,"height":1},{"id":"7e66afcd.3f169","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":11,"width":1,"height":1},{"id":"b3bfec9c.b68f9","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":12,"width":21,"height":1},{"id":"6a4b254f.b9b68c","type":"ui_spacer","name":"spacer","group":"4fa89535.d38cdc","order":14,"width":21,"height":1},{"id":"b22bcb60.11a438","type":"ioplugin","name":"Beaglebone","username":"","password":"","boardType":"beaglebone-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":"","samplingInterval":"500"},{"id":"ab91aa0.63cd858","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"862a7936.951bf8","type":"ui_tab","name":"Sensor Data","icon":"dashboard","order":1},{"id":"a726aefd.5a191","type":"ui_group","name":"Sensor Data","tab":"862a7936.951bf8","order":1,"disp":true,"width":"21","collapse":false},{"id":"c8da1985.7ad6c8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"4300064d61-certificate.pem.crt","keyname":"4300064d61-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":false},{"id":"b0bfc72a.617018","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"1f390fc203-certificate.pem.crt","keyname":"1f390fc203-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":false},{"id":"f0e72a22.160db8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"4300064d61-certificate.pem.crt","keyname":"4300064d61-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":false},{"id":"97d11777.853a28","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":7,"width":3,"height":1},{"id":"5d658c89.0d9574","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":8,"width":3,"height":1},{"id":"2485b92.f701e46","type":"ui_spacer","name":"spacer","group":"a726aefd.5a191","order":9,"width":21,"height":1},{"id":"88c0499d.28ab58","type":"inject","z":"62f393e6.e9d07c","name":"Trigger on Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":190,"y":140,"wires":[["ff91e350.05f3f","3625a090.aab1e"]]},{"id":"ff91e350.05f3f","type":"function","z":"62f393e6.e9d07c","name":"Set global variables","func":"// Asset configuration variables\nglobal.set(\"assetId\", \"ANT1095\");\n//global.set(\"fftPoints\",2048);\n\n// Configuration Variables for force and position\n//global.set(\"repeatIntervalAcceleration\", 12.0);       //How often is acceleration data sent (seconds). See https://arch.fis.gatech.edu/message-vibration/\nglobal.set(\"sampleInterval\", 0.00005);    //How fast is the acceleration data sampled (seconds)\nglobal.set(\"sampleSize\", 20000);           //How many acceleration samples are taken each interval. See: https://arch.fis.gatech.edu/message-current/\n\n// Force calibration values\nglobal.set(\"forceCoef0\", -11491 );\nglobal.set(\"forceCoef1\", 5.2552);\n\n// Position calibration values\nglobal.set(\"positionCoef0\", -0.1856);\nglobal.set(\"positionCoef1\", 8.7783e-5);\n\n// Acceleration timestamp\nglobal.set(\"dateTimeAcceleration\", 0)\n\n\n\n// Last heartbeat seed\n//var now = new Date();\n//global.set(\"lastHearbeat\", now.valueOf());\n\nstatusText = \"Variables Set\"\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["f21e4818.3b12f8"]]},{"id":"1994cee.9022131","type":"comment","z":"62f393e6.e9d07c","name":"Modify global variables to change configuration.","info":"","x":520,"y":100,"wires":[]},{"id":"f21e4818.3b12f8","type":"function","z":"62f393e6.e9d07c","name":"Equipment Information Message","func":"var now = new Date();\nvar message = {};\n\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/EquipmentInformation\";\n\nmessage[\"assetId\"] = global.get(\"assetId\");\nmessage[\"dateTime\"] = now.toISOString();\nmessage[\"dataItemId\"] = \"EquipmentInformation\";\nmessage[\"informationId\"] = \"Gateway_Reset\";\n\nmsg.topic = topic\nmsg.payload = message;\n\n// Printout a status variable.\nstatusText = now.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":140,"wires":[["2c2bb3c0.2d71ac"]]},{"id":"2c2bb3c0.2d71ac","type":"debug","z":"62f393e6.e9d07c","name":"Message display.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":140,"wires":[]},{"id":"2d1a29a.ab0cdd6","type":"file in","z":"fc83feb3.5721","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"hex","x":1210,"y":260,"wires":[["2937de33.2f0432","e1859e9a.bf59d"]]},{"id":"2937de33.2f0432","type":"function","z":"fc83feb3.5721","name":"Parse MQTT Message Force","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Force\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Force\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"forceCoef1\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"forceCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = binToV*(parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":260,"wires":[["d264024f.93d47","9012f3e1.5bb87","a74c5dee.93627"]]},{"id":"86f8653a.84a048","type":"exec","z":"fc83feb3.5721","command":"/home/debian/ADCsTimed","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute PRU Measurements","x":900,"y":340,"wires":[["2d1a29a.ab0cdd6","6e4d3404.7db27c","69a70fca.e354c"],["69a70fca.e354c"],["69a70fca.e354c"]]},{"id":"732f01ba.4eabe","type":"ui_chart","z":"fc83feb3.5721","name":"Force-Chart (ADC1)","group":"4fa89535.d38cdc","order":15,"width":0,"height":0,"label":"Force [N] vs Time [sec]","chartType":"line","legend":"false","xformat":"ss.SSS","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2020,"y":120,"wires":[[]]},{"id":"d264024f.93d47","type":"function","z":"fc83feb3.5721","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":120,"wires":[["732f01ba.4eabe"]]},{"id":"a4748229.85d29","type":"function","z":"fc83feb3.5721","name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n//Change the global variables to automate FRF capturing\nglobal.set(\"previousMeasurementDone\",false);\n\nvar count = global.get(\"strikeNumber\") + 1\nglobal.set(\"strikeNumber\", count)\n\nglobal.set(\"startMeasurement\",false);\n\nglobal.set(\"toolInPosition\",false);\n\nsampleInterval = ~~(sampleInterval * 1e9 + 0.5);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[["86f8653a.84a048","231801cf.2046de"]]},{"id":"cbcc7e1a.aefd4","type":"function","z":"fc83feb3.5721","name":"Parse MQTT Message Position","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Position\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Position\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"positionCoef1\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"positionCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = binToV*parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":400,"wires":[["4883d5da.bd165c","9012f3e1.5bb87","3072a06f.40191"]]},{"id":"6e4d3404.7db27c","type":"file in","z":"fc83feb3.5721","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"x":1210,"y":400,"wires":[["cbcc7e1a.aefd4","e1859e9a.bf59d"]]},{"id":"4883d5da.bd165c","type":"function","z":"fc83feb3.5721","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":520,"wires":[["d89e91fc.c8281"]]},{"id":"d89e91fc.c8281","type":"ui_chart","z":"fc83feb3.5721","name":"Position-Chart (ADC2)","group":"4fa89535.d38cdc","order":13,"width":0,"height":0,"label":"Position [mm] vs Time (sec)","chartType":"line","legend":"false","xformat":"ss.SSS","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":2020,"y":520,"wires":[[]]},{"id":"9012f3e1.5bb87","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":320,"wires":[]},{"id":"bbe5b23a.541ad","type":"inject","z":"fc83feb3.5721","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["bd662f66.af26a"]]},{"id":"bd662f66.af26a","type":"function","z":"fc83feb3.5721","name":"Set Time Parameters","func":"flow.set(\"startTime\", 0);\nflow.set(\"endTime\", 0);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[[]]},{"id":"bcc33164.64c0a","type":"comment","z":"fc83feb3.5721","name":"Script to read 2 ADC channels","info":"","x":860,"y":260,"wires":[]},{"id":"387a96d0.081f9a","type":"comment","z":"fc83feb3.5721","name":"Read the sensor measurements","info":"","x":1210,"y":200,"wires":[]},{"id":"8b48024f.2331e","type":"ui_button","z":"fc83feb3.5721","name":"","group":"4fa89535.d38cdc","order":4,"width":5,"height":2,"passthru":false,"label":"Clear Force","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1790,"y":180,"wires":[["732f01ba.4eabe"]]},{"id":"c6902fb8.ef579","type":"ui_button","z":"fc83feb3.5721","name":"","group":"4fa89535.d38cdc","order":6,"width":5,"height":2,"passthru":false,"label":"Clear Position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1760,"y":460,"wires":[["d89e91fc.c8281"]]},{"id":"e1859e9a.bf59d","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":320,"wires":[]},{"id":"a74c5dee.93627","type":"file","z":"fc83feb3.5721","name":"","filename":"/home/debian/frfRawData/force.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1860,"y":260,"wires":[[]]},{"id":"3072a06f.40191","type":"file","z":"fc83feb3.5721","name":"","filename":"/home/debian/frfRawData/position.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1870,"y":400,"wires":[[]]},{"id":"231801cf.2046de","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"69a70fca.e354c","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":340,"wires":[]},{"id":"96dc5aaa.e94708","type":"delay","z":"fc83feb3.5721","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":400,"wires":[["e8327555.0368c8"]]},{"id":"5d6f693a.9bb0a8","type":"ui_switch","z":"fc83feb3.5721","name":"","label":"switch","tooltip":"","group":"4fa89535.d38cdc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":280,"wires":[["b219d292.75cba"]]},{"id":"1860e0d8.4e10ef","type":"delay","z":"fc83feb3.5721","name":"","pauseType":"delay","timeout":"2.97","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":340,"wires":[["a4748229.85d29"]]},{"id":"e8327555.0368c8","type":"file","z":"fc83feb3.5721","name":"EMAG","filename":"/sys/class/gpio/gpio115/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":400,"wires":[[]]},{"id":"d80ae1b1.5b90d","type":"inject","z":"fc83feb3.5721","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["7d54da1d.e23514"]]},{"id":"7d54da1d.e23514","type":"debug","z":"fc83feb3.5721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":140,"wires":[]},{"id":"7ad9d3ca.7c2afc","type":"file","z":"62f393e6.e9d07c","name":"","filename":"/sys/class/gpio/gpio115/direction","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":370,"y":340,"wires":[[]]},{"id":"7e03a93e.8a2be8","type":"inject","z":"62f393e6.e9d07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"out","payloadType":"str","x":150,"y":340,"wires":[["7ad9d3ca.7c2afc"]]},{"id":"a018a0a0.aa9c5","type":"comment","z":"62f393e6.e9d07c","name":"Init P9_27 to OUT","info":"This forces P9_27 to OUT for the Relay\nCopy this node for any other pins as needed","x":170,"y":300,"wires":[]},{"id":"f2116c0b.019e8","type":"comment","z":"62f393e6.e9d07c","name":"Runs once on Deploy","info":"","x":180,"y":100,"wires":[]},{"id":"ff160679.3d7588","type":"inject","z":"62f393e6.e9d07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":440,"wires":[["f4552079.eb755"]]},{"id":"f4552079.eb755","type":"function","z":"62f393e6.e9d07c","name":"Relay","func":"var b = context.global.bonescript;\nb.pinMode('P9_27', b.OUTPUT);\nb.digitalWrite('P9_27', b.HIGH);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[["af8b65db.5e6078"]]},{"id":"5b4790de.49fb","type":"inject","z":"62f393e6.e9d07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["34524e31.ffc982"]]},{"id":"34524e31.ffc982","type":"function","z":"62f393e6.e9d07c","name":"Relay","func":"var b = context.global.bonescript;\nb.pinMode('P9_27', b.OUTPUT);\nb.digitalWrite('P9_27', b.LOW);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":480,"wires":[["af8b65db.5e6078"]]},{"id":"af8b65db.5e6078","type":"debug","z":"62f393e6.e9d07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":440,"wires":[]},{"id":"36bb95d.b31246a","type":"exec","z":"62f393e6.e9d07c","command":"/home/debian/backupNR.sh","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":340,"wires":[[],[],[]]},{"id":"bfca4148.5e185","type":"inject","z":"62f393e6.e9d07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":340,"wires":[["36bb95d.b31246a"]]},{"id":"f98e0550.afa1a8","type":"comment","z":"62f393e6.e9d07c","name":"Backup Node Red Flow to /home/debian/nodeRedBackups","info":"","x":770,"y":300,"wires":[]},{"id":"3625a090.aab1e","type":"function","z":"62f393e6.e9d07c","name":"","func":"var now = new Date();\ncur = now.getTime();\nvar message = {};\nmsg.payload = cur;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["3d8ea970.447ae6"]]},{"id":"3d8ea970.447ae6","type":"debug","z":"62f393e6.e9d07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"b219d292.75cba","type":"switch","z":"fc83feb3.5721","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":280,"wires":[["d533948.9d7db68","3c95ce8d.7f15d2"],["1860e0d8.4e10ef","96dc5aaa.e94708"]]},{"id":"d533948.9d7db68","type":"file","z":"fc83feb3.5721","name":"EMAG","filename":"/sys/class/gpio/gpio115/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":410,"y":220,"wires":[[]]},{"id":"2e4f1524.0ce67a","type":"file","z":"fc83feb3.5721","name":"Laser Zero","filename":"/sys/class/gpio/gpio115/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":630,"y":260,"wires":[[]]},{"id":"3c95ce8d.7f15d2","type":"trigger","z":"fc83feb3.5721","name":"","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","overrideDelay":"false","units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":260,"wires":[["2e4f1524.0ce67a"]]},{"id":"37606e88.f5c332","type":"range","z":"9bc2a1fd.b78ff","minin":"0","maxin":"255","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"8 Bit Digital to 5 Volt Analog Conversion","x":640,"y":360,"wires":[["7bb01605.eacaf8"]]},{"id":"2603dd87.746a02","type":"split","z":"9bc2a1fd.b78ff","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":300,"wires":[["7ff6f924.6cd5c8"]]},{"id":"5f00ca9d.67e184","type":"function","z":"9bc2a1fd.b78ff","name":"Create Array from Payload","func":"var data = msg.payload.toString();\n\ndata = data.split(\",\");\n\nmsg.payload = data.map(Number);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":220,"wires":[["2603dd87.746a02"]]},{"id":"7bb01605.eacaf8","type":"join","z":"9bc2a1fd.b78ff","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":360,"wires":[["9facf776.98c658"]]},{"id":"9facf776.98c658","type":"function","z":"9bc2a1fd.b78ff","name":"Set Flow Variabl;","func":"var value;\n\nvar partId;\nvar units;\n\nvar data = msg.payload;\n\nvar allMessages = [];\n\nvar dataItemId;\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nvar accelLength = global.get(\"accelLength\");\n\nvar maxIter;\n\nif(msg.dataId == \"Accelerometer\"){\n    // maxIter = 1;\n    maxIter = Math.floor(accelLength/data.length);\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    maxIter = 1;\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n    \n}\n\nfor (var i = 0; i < maxIter; i++){\n\n  value = data.slice(i, (i + 1) * accelLength);  \n  for(var j=0; j<value.length; j++){\n      value[j] = value[j].toFixed(3);\n      if(value[j] > 5.00){\n          value.splice(j,1);\n      }\n  }\n\n\n    dataItemId = msg.dataId;\n    topic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n    \n\n    // var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\"}\";\n    var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\",\\\"samplingRate\\\":\\\"\" + samplingRate + \"\\\",\\\"Units\\\":\\\"\" + units + \"\\\",\\\"messagePart\\\":\\\"\" + (i + 1) + \" of \" + maxIter + \"\\\",\\\"partId\\\":\\\"\" + partId + \"\\\"}\";\n    \n    node.log(jsonPayload);\n    \n    // var newMessage = {topic: \"test\"};\n    var newMessage = { topic: topic, payload: jsonPayload };\n    \n    allMessages.push(newMessage);\n}\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[[]]},{"id":"71ac1f2b.ef6cc","type":"change","z":"9bc2a1fd.b78ff","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"|","fromt":"str","to":",","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",\\n","fromt":"str","to":"\\n","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"END","fromt":"str","to":"65537","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":140,"wires":[["5f00ca9d.67e184"]]},{"id":"7ff6f924.6cd5c8","type":"switch","z":"9bc2a1fd.b78ff","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"65537","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":300,"wires":[["48fcda8e.037a84"],["37606e88.f5c332"]]},{"id":"48fcda8e.037a84","type":"change","z":"9bc2a1fd.b78ff","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["37606e88.f5c332"]]},{"id":"5983f0dd.ba0dd","type":"change","z":"30518835.0dcdb8","name":"Assign Accelerometer Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Vibration","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Accelerometer-2","fromt":"str","to":"","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Accelerometer-Pump","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":500,"wires":[["b4aadfa0.d3cd8"]]},{"id":"fc5b91da.4d0ab","type":"join","z":"30518835.0dcdb8","name":"Accelerometer-2","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nAccelerometer-2","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":589,"y":496,"wires":[["5983f0dd.ba0dd"]]},{"id":"3b52cf3d.daa7","type":"change","z":"91fa423e.ffb48","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":",END","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["c5d3f005.efc6e"]]},{"id":"c5d3f005.efc6e","type":"function","z":"91fa423e.ffb48","name":"Set Flow Variable","func":"var data = msg.payload;\ndata = data.split(\",\").map(Number);\ndata = data.toString();\n\nvar partId;\nvar units;\n\nvar allMessages = [];\n\nvar dataItemId = msg.dataId;\nvar itemInstanceId = global.get(\"itemInstanceId\");\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nif(msg.dataId == \"Vibration\"){\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n}\n\ntopic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n\nvar jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"samplingInterval\\\":\\\"\" + samplingRate + \"\\\",\\\"sensorId\\\":\\\"\" + partId + \"\\\",\\\"itemInstanceId\\\":\\\"\" + itemInstanceId + \"\\\",\\\"values\\\":\\\"\" + data +  \"\\\"}\";\nvar newMessage = { topic: topic, payload: jsonPayload };\n\nallMessages.push(newMessage);\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":180,"wires":[[]]},{"id":"34069d95.dbb512","type":"switch","z":"30518835.0dcdb8","name":"Parse Sensor Type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Accelerometer-1","vt":"str"},{"t":"cont","v":"Accelerometer-2","vt":"str"},{"t":"cont","v":"Current","vt":"str"},{"t":"cont","v":"Temperature-1","vt":"str"},{"t":"cont","v":"Temperature-2","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":357,"y":522,"wires":[["38e21190.24df8e"],["fc5b91da.4d0ab"],["2f56cbbd.d866c4"],["a6bf4e33.cbb32"],[]]},{"id":"2f56cbbd.d866c4","type":"join","z":"30518835.0dcdb8","name":"Current - Phase 1","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nCurrent-1","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":599,"y":536,"wires":[["9050e316.71205"]]},{"id":"9050e316.71205","type":"change","z":"30518835.0dcdb8","name":"Assign Current Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Current","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Current-1","fromt":"str","to":"","tot":"str"},{"t":"set","p":"phase","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Current-Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":540,"wires":[["b4aadfa0.d3cd8"]]},{"id":"a6bf4e33.cbb32","type":"join","z":"30518835.0dcdb8","name":"Temperature-1","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nTemperature-1","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":579,"y":576,"wires":[["59f3c0de.def98"]]},{"id":"59f3c0de.def98","type":"change","z":"30518835.0dcdb8","name":"Assign Temperature Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Temperature","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Temperature-1","fromt":"str","to":"","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Temperature-Pump-Outlet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":580,"wires":[["b4aadfa0.d3cd8"]]},{"id":"38e21190.24df8e","type":"join","z":"30518835.0dcdb8","name":"Accelerometer-1","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\nAccelerometer-1","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":460,"wires":[["5c0cc07a.de369"]]},{"id":"5c0cc07a.de369","type":"change","z":"30518835.0dcdb8","name":"Assign Accelerometer Data Tag","rules":[{"t":"set","p":"dataId","pt":"msg","to":"Vibration","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Accelerometer-1","fromt":"str","to":"","tot":"str"},{"t":"set","p":"partId","pt":"msg","to":"Accelerometer-Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":460,"wires":[["b4aadfa0.d3cd8"]]},{"id":"b4aadfa0.d3cd8","type":"change","z":"30518835.0dcdb8","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":",END","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"END","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":520,"wires":[[]]},{"id":"995684e4.4887f8","type":"inject","z":"da968ef1.da21f","name":"Trigger on Startup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":90,"y":140,"wires":[["747ea8b3.914ba8"]]},{"id":"747ea8b3.914ba8","type":"function","z":"da968ef1.da21f","name":"Set global variables","func":"// Asset configuration variables\nglobal.set(\"assetId\", \"ANT1095\");\n//global.set(\"fftPoints\",2048);\n\n// Configuration Variables for force and position\n//global.set(\"repeatIntervalAcceleration\", 12.0);       //How often is acceleration data sent (seconds). See https://arch.fis.gatech.edu/message-vibration/\nglobal.set(\"sampleInterval\", 0.00002);      //How fast is the acceleration data sampled (seconds)\nglobal.set(\"sampleSize\", 12000);            //How many acceleration samples are taken each interval. See: https://arch.fis.gatech.edu/message-current/\nglobal.set(\"segmentWidth\", 1000);           //Width of segments used in Welch's method (# of samples)\nglobal.set(\"plotFreq\", 4000);               //Upper limit frequency for plotting (Hz)\n\n// Force calibration values\nglobal.set(\"forceCoef0\", -11491 );\nglobal.set(\"forceCoef1\", 5.2552);\n\n// Position calibration values\nglobal.set(\"positionCoef0\", -0.1856);\nglobal.set(\"positionCoef1\", 8.7783e-5);\n\n// Acceleration timestamp\nglobal.set(\"dateTimeAcceleration\", 0)\n\n\n\n// Last heartbeat seed\n//var now = new Date();\n//global.set(\"lastHearbeat\", now.valueOf());\n\nstatusText = \"Variables Set\"\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":140,"wires":[["18d6e8.cd501918","a7a11557.732a18"]]},{"id":"780f3d6.49d11c4","type":"comment","z":"da968ef1.da21f","name":"Modify global variables to change configuration.","info":"","x":520,"y":100,"wires":[]},{"id":"18d6e8.cd501918","type":"function","z":"da968ef1.da21f","name":"Equipment Information Message","func":"var now = new Date();\nvar message = {};\n\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/EquipmentInformation\";\n\nmessage[\"assetId\"] = global.get(\"assetId\");\nmessage[\"dateTime\"] = now.toISOString();\nmessage[\"dataItemId\"] = \"EquipmentInformation\";\nmessage[\"informationId\"] = \"Gateway_Reset\";\n\nmsg.topic = topic\nmsg.payload = message;\n\n// Printout a status variable.\nstatusText = now.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":140,"wires":[["9376ceb7.7419b"]]},{"id":"9376ceb7.7419b","type":"debug","z":"da968ef1.da21f","name":"Message display.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":140,"wires":[]},{"id":"c189837e.55161","type":"file in","z":"bffdb4df.cd5f48","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"hex","x":1210,"y":240,"wires":[["3807f2d6.b924ae"]]},{"id":"3807f2d6.b924ae","type":"function","z":"bffdb4df.cd5f48","name":"Parse MQTT Message Force","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Force\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Force\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    // Maps ADC value to numerical value\n    //payload[\"values\"][i] = ((global.get(\"forceCoef1\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"forceCoef0\"))).toFixed(5);\n    \n    // Maps ADC Value to voltage\n    payload[\"values\"][i] = binToV*(parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":240,"wires":[["b2b0b5ba.214f48","d1305df2.3201f"]]},{"id":"f6a8b21e.56d64","type":"exec","z":"bffdb4df.cd5f48","command":"/home/debian/readTwoADCChannel","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute PRU Measurements","x":940,"y":340,"wires":[["c189837e.55161","bfe81502.d621d8","f33dfe50.ba387"],["f33dfe50.ba387"],["f33dfe50.ba387"]]},{"id":"98f230ad.213be","type":"ui_chart","z":"bffdb4df.cd5f48","name":"Force-Chart (ADC1)","group":"a726aefd.5a191","order":10,"width":0,"height":0,"label":"Force [N] vs Time [sec]","chartType":"line","legend":"false","xformat":"x","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2020,"y":120,"wires":[[]]},{"id":"b2b0b5ba.214f48","type":"function","z":"bffdb4df.cd5f48","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":120,"wires":[["98f230ad.213be"]]},{"id":"ea665780.5f28d8","type":"function","z":"bffdb4df.cd5f48","name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n//Change the global variables to automate FRF capturing\nglobal.set(\"previousMeasurementDone\",false);\n\nvar count = global.get(\"strikeNumber\") + 1\nglobal.set(\"strikeNumber\", count)\n\nglobal.set(\"startMeasurement\",false);\n\nglobal.set(\"toolInPosition\",false);\n\nsampleInterval = ~~(sampleInterval * 1e9);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":340,"wires":[["f6a8b21e.56d64","f0a8e814.c567d8","30149477.d2c9ec"]]},{"id":"d4c55918.526988","type":"function","z":"bffdb4df.cd5f48","name":"Parse MQTT Message Position","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Position\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Position\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    // Maps ADC value to numerical value\n    //payload[\"values\"][i] = ((global.get(\"positionCoef1\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"positionCoef0\"))).toFixed(5);\n    \n    // Maps ADC Value to Voltage\n    payload[\"values\"][i] = binToV*parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":400,"wires":[["53030071.09f0a","2bc3c0f8.3ea5d"]]},{"id":"bfe81502.d621d8","type":"file in","z":"bffdb4df.cd5f48","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"x":1210,"y":400,"wires":[["d4c55918.526988"]]},{"id":"53030071.09f0a","type":"function","z":"bffdb4df.cd5f48","name":"Chart Data","func":"moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\nvar dataSeries1 = [];\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\nvar previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":520,"wires":[["83b03adf.330358"]]},{"id":"83b03adf.330358","type":"ui_chart","z":"bffdb4df.cd5f48","name":"Position-Chart (ADC2)","group":"a726aefd.5a191","order":11,"width":0,"height":0,"label":"Position [mm] vs Time (sec)","chartType":"line","legend":"false","xformat":"x","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"50000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2020,"y":520,"wires":[[]]},{"id":"6080101e.afba7","type":"inject","z":"bffdb4df.cd5f48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["96e530c.a29bfd"]]},{"id":"96e530c.a29bfd","type":"function","z":"bffdb4df.cd5f48","name":"Set Time Parameters","func":"flow.set(\"startTime\", 0);\nflow.set(\"endTime\", 0);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[[]]},{"id":"85bc9dd9.2017d","type":"comment","z":"bffdb4df.cd5f48","name":"Script to read 2 ADC channels","info":"","x":940,"y":280,"wires":[]},{"id":"f0f312f8.5241b","type":"comment","z":"bffdb4df.cd5f48","name":"Read the sensor measurements","info":"","x":1210,"y":200,"wires":[]},{"id":"cad8c97f.6420b8","type":"ui_button","z":"bffdb4df.cd5f48","name":"","group":"a726aefd.5a191","order":2,"width":3,"height":2,"passthru":false,"label":"Clear Force","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":1790,"y":180,"wires":[["98f230ad.213be"]]},{"id":"a9775127.0fb7b","type":"ui_button","z":"bffdb4df.cd5f48","name":"","group":"a726aefd.5a191","order":3,"width":3,"height":2,"passthru":false,"label":"Clear Position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1760,"y":460,"wires":[["83b03adf.330358"]]},{"id":"d1305df2.3201f","type":"file","z":"bffdb4df.cd5f48","name":"","filename":"frfRawData/force.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1820,"y":240,"wires":[[]]},{"id":"2bc3c0f8.3ea5d","type":"file","z":"bffdb4df.cd5f48","name":"","filename":"frfRawData/displacement.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1840,"y":400,"wires":[[]]},{"id":"f0a8e814.c567d8","type":"debug","z":"bffdb4df.cd5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"f33dfe50.ba387","type":"debug","z":"bffdb4df.cd5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":340,"wires":[]},{"id":"d85b37b7.c3e4c8","type":"gpio out","z":"bffdb4df.cd5f48","name":"EMAG","state":"OUTPUT","pin":"P9_27","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"b22bcb60.11a438","x":630,"y":180,"wires":[]},{"id":"c9359b4e.190e78","type":"ui_switch","z":"bffdb4df.cd5f48","name":"","label":"Measure","tooltip":"","group":"a726aefd.5a191","order":4,"width":3,"height":2,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":true,"x":100,"y":280,"wires":[["9f25685.fa5b298"]]},{"id":"e3d26894.98f558","type":"range","z":"237bc78.497c338","minin":"0","maxin":"255","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"8 Bit Digital to 5 Volt Analog Conversion","x":640,"y":360,"wires":[["561a8b21.651424"]]},{"id":"fc92491d.dd5c28","type":"split","z":"237bc78.497c338","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":300,"wires":[["df55c717.e9af08"]]},{"id":"3ad5364b.ef5b7a","type":"function","z":"237bc78.497c338","name":"Create Array from Payload","func":"var data = msg.payload.toString();\n\ndata = data.split(\",\");\n\nmsg.payload = data.map(Number);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["fc92491d.dd5c28"]]},{"id":"561a8b21.651424","type":"join","z":"237bc78.497c338","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":360,"wires":[["eb0c930f.9b239"]]},{"id":"eb0c930f.9b239","type":"function","z":"237bc78.497c338","name":"Set Flow Variabl;","func":"var value;\n\nvar partId;\nvar units;\n\nvar data = msg.payload;\n\nvar allMessages = [];\n\nvar dataItemId;\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nvar accelLength = global.get(\"accelLength\");\n\nvar maxIter;\n\nif(msg.dataId == \"Accelerometer\"){\n    // maxIter = 1;\n    maxIter = Math.floor(accelLength/data.length);\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    maxIter = 1;\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n    \n}\n\nfor (var i = 0; i < maxIter; i++){\n\n  value = data.slice(i, (i + 1) * accelLength);  \n  for(var j=0; j<value.length; j++){\n      value[j] = value[j].toFixed(3);\n      if(value[j] > 5.00){\n          value.splice(j,1);\n      }\n  }\n\n\n    dataItemId = msg.dataId;\n    topic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n    \n\n    // var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\"}\";\n    var jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"value\\\":\\\"\" + value + \"\\\",\\\"samplingRate\\\":\\\"\" + samplingRate + \"\\\",\\\"Units\\\":\\\"\" + units + \"\\\",\\\"messagePart\\\":\\\"\" + (i + 1) + \" of \" + maxIter + \"\\\",\\\"partId\\\":\\\"\" + partId + \"\\\"}\";\n    \n    node.log(jsonPayload);\n    \n    // var newMessage = {topic: \"test\"};\n    var newMessage = { topic: topic, payload: jsonPayload };\n    \n    allMessages.push(newMessage);\n}\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[[]]},{"id":"bfbdfc05.97b73","type":"change","z":"237bc78.497c338","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"|","fromt":"str","to":",","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",\\n","fromt":"str","to":"\\n","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"END","fromt":"str","to":"65537","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":140,"wires":[["3ad5364b.ef5b7a"]]},{"id":"df55c717.e9af08","type":"switch","z":"237bc78.497c338","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"65537","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":300,"wires":[["e8091f11.da1f6"],["e3d26894.98f558"]]},{"id":"e8091f11.da1f6","type":"change","z":"237bc78.497c338","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["e3d26894.98f558"]]},{"id":"58c43e64.373b","type":"exec","z":"bffdb4df.cd5f48","command":"python3 /home/debian/frf_beaglebone_v2_1.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"FRF","x":450,"y":680,"wires":[["f6f2e2cd.b4c35","6fe3752f.f25d5c"],["f6f2e2cd.b4c35"],["f6f2e2cd.b4c35"]]},{"id":"4acf6b73.111f14","type":"comment","z":"bffdb4df.cd5f48","name":"Compute FRF in the edge","info":"","x":450,"y":620,"wires":[]},{"id":"f6f2e2cd.b4c35","type":"debug","z":"bffdb4df.cd5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":760,"wires":[]},{"id":"af06bded.fa034","type":"gpio out","z":"bffdb4df.cd5f48","name":"Zero Laser","state":"OUTPUT","pin":"P9_30","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"b22bcb60.11a438","x":650,"y":280,"wires":[]},{"id":"a3a1a7fe.f4f2d8","type":"trigger","z":"bffdb4df.cd5f48","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"510","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":460,"y":280,"wires":[["af06bded.fa034"]]},{"id":"9f25685.fa5b298","type":"switch","z":"bffdb4df.cd5f48","name":"Relay","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":280,"wires":[["d85b37b7.c3e4c8"],["a3a1a7fe.f4f2d8","1c104a77.8d2926","4ac1c9ff.051f78"]],"outputLabels":["Prime","Measure"]},{"id":"1c104a77.8d2926","type":"delay","z":"bffdb4df.cd5f48","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":180,"wires":[["d85b37b7.c3e4c8"]]},{"id":"4ac1c9ff.051f78","type":"delay","z":"bffdb4df.cd5f48","name":"","pauseType":"delay","timeout":"2.94","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":340,"wires":[["ea665780.5f28d8"]]},{"id":"feb4bd7f.c5e08","type":"comment","z":"bffdb4df.cd5f48","name":"","info":"ON - turn on EMAG immediately\nOFF - turn off EMAG\n    - zero laser\n    - start measurement","x":220,"y":340,"wires":[]},{"id":"f04519eb.1a2d98","type":"change","z":"446087fb.a7a278","name":"Replace unwanted characters","rules":[{"t":"change","p":"payload","pt":"msg","from":",END","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["130951f1.44061e"]]},{"id":"130951f1.44061e","type":"function","z":"446087fb.a7a278","name":"Set Flow Variable","func":"var data = msg.payload;\ndata = data.split(\",\").map(Number);\ndata = data.toString();\n\nvar partId;\nvar units;\n\nvar allMessages = [];\n\nvar dataItemId = msg.dataId;\nvar itemInstanceId = global.get(\"itemInstanceId\");\nvar assetId = global.get(\"assetId\");\nvar samplingRate;\n\nif(msg.dataId == \"Vibration\"){\n    samplingRate = global.get(\"accelerometerSamplingRate\");\n    partId = global.get(\"accelerometerPartId\");\n    units = global.get(\"accelerometerUnits\");\n}\nelse{\n    samplingRate = global.get(\"currentSamplingRate\");\n    partId = global.get(\"currentPartId\");\n    units = global.get(\"currentUnits\");\n}\n\ntopic = \"Asset/\" + global.get(\"assetId\") + \"/\" + dataItemId;\n\nvar jsonPayload = \"{\\\"assetId\\\":\\\"\" + assetId + \"\\\",\\\"dateTime\\\":\\\"\" + msg.dateTime + \"\\\",\\\"dataItemId\\\":\\\"\" + dataItemId + \"\\\",\\\"samplingInterval\\\":\\\"\" + samplingRate + \"\\\",\\\"sensorId\\\":\\\"\" + partId + \"\\\",\\\"itemInstanceId\\\":\\\"\" + itemInstanceId + \"\\\",\\\"values\\\":\\\"\" + data +  \"\\\"}\";\nvar newMessage = { topic: topic, payload: jsonPayload };\n\nallMessages.push(newMessage);\n\nmsg = [allMessages];\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":180,"wires":[[]]},{"id":"6fe3752f.f25d5c","type":"file in","z":"bffdb4df.cd5f48","name":"Read FRF Data","filename":"/var/lib/node-red/frfRawData/frf.txt","format":"utf8","chunk":false,"sendError":false,"x":660,"y":680,"wires":[["3339c707.cffe88"]]},{"id":"df5b766a.da5688","type":"json","z":"bffdb4df.cd5f48","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":680,"wires":[["a025ae98.eeade","e58391c3.86a27","36720b.94d59df6"]]},{"id":"3339c707.cffe88","type":"change","z":"bffdb4df.cd5f48","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":680,"wires":[["df5b766a.da5688"]]},{"id":"a025ae98.eeade","type":"function","z":"bffdb4df.cd5f48","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.plt_freq;\nlet mag = msg.payload.plt_mag;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\n//for (let i = 0; i < freq.length; i++) {\n//   diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n//}\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":600,"wires":[["a4102e6e.740c7"]]},{"id":"a4102e6e.740c7","type":"ui_chart","z":"bffdb4df.cd5f48","name":"Magnitude","group":"a726aefd.5a191","order":12,"width":0,"height":0,"label":"Magnitude vs Frequency (Hz)","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1550,"y":600,"wires":[[]]},{"id":"e58391c3.86a27","type":"function","z":"bffdb4df.cd5f48","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.plt_freq;\nlet ang = msg.payload.plt_ang;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": ang[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":680,"wires":[["e0ff6742.f8f0c8"]]},{"id":"e0ff6742.f8f0c8","type":"ui_chart","z":"bffdb4df.cd5f48","name":"Angle","group":"a726aefd.5a191","order":13,"width":0,"height":0,"label":"Angle () vs Frequency (Hz)","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1530,"y":680,"wires":[[]]},{"id":"36720b.94d59df6","type":"function","z":"bffdb4df.cd5f48","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.plt_freq;\nlet coh = msg.payload.plt_coh;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\n//for (let i = 0; i < freq.length; i++) {\n//   diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n//}\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": coh[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\nglobal.set(\"previousMeasurementDone\",true);\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":760,"wires":[["c154de43.7a21f"]]},{"id":"c154de43.7a21f","type":"ui_chart","z":"bffdb4df.cd5f48","name":"Coherence","group":"a726aefd.5a191","order":14,"width":0,"height":0,"label":"Coherence vs Frequency (Hz)","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1.2","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1550,"y":760,"wires":[[]]},{"id":"6fca0694.05fb28","type":"complete","z":"bffdb4df.cd5f48","name":"","scope":["d1305df2.3201f","2bc3c0f8.3ea5d"],"uncaught":false,"x":90,"y":680,"wires":[["add90602.6626c8"]]},{"id":"add90602.6626c8","type":"function","z":"bffdb4df.cd5f48","name":"FRF Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleFreq = Math.round(1/global.get(\"sampleInterval\"));\nvar segmentWidth = global.get(\"segmentWidth\");\nvar plotFreq = global.get(\"plotFreq\");\n\nmsg.payload = ' ' + sampleFreq.toString() + ' ' + segmentWidth.toString() + ' ' + plotFreq.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":680,"wires":[["58c43e64.373b","212a0800.cecec8"]]},{"id":"212a0800.cecec8","type":"debug","z":"bffdb4df.cd5f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":760,"wires":[]},{"id":"6c5c6f45.1b42a","type":"exec","z":"da968ef1.da21f","command":"/home/debian/Calibration/Calibration","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Calibration Execute PRU measurement","x":460,"y":420,"wires":[["3c247aaa.905bf6","d9fd1cf.72508e","61381495.60a9bc"],["61381495.60a9bc"],["61381495.60a9bc"]]},{"id":"86fc33cc.4ba0c","type":"function","z":"da968ef1.da21f","name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n//Change the global variables to automate FRF capturing\nglobal.set(\"previousMeasurementDone\",false);\n\nvar count = global.get(\"strikeNumber\") + 1\nglobal.set(\"strikeNumber\", count)\n\nglobal.set(\"startMeasurement\",false);\n\nglobal.set(\"toolInPosition\",false);\n\nsampleInterval = ~~(sampleInterval * 1e9);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":280,"wires":[["6c5c6f45.1b42a"]]},{"id":"d9fd1cf.72508e","type":"file in","z":"da968ef1.da21f","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"hex","x":770,"y":380,"wires":[["8aaec604.101498"]]},{"id":"8aaec604.101498","type":"function","z":"da968ef1.da21f","name":"Calibrate Force","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Force\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Force\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"forceCoef1\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"forceCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = (parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\nvar sum=0;\nvar average=0;\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    sum=sum+payload[\"values\"][i];\n}\naverage=parseFloat(sum/global.get(\"sampleSize\"));\nglobal.set(\"forceCoef0\", global.get(\"forceCoef1\") *(-1)*average );\n\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":380,"wires":[[]]},{"id":"e26cc8ca.d8cca8","type":"function","z":"da968ef1.da21f","name":"Calibrate Position","func":"var vib = msg.payload\n\nmoment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Position\";\n\n// Determine when data collection started.\nvar diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\nvar previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = previous.toISOString();\npayload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Position\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"positionCoef1\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"positionCoef0\"))).toFixed(5);\n    payload[\"values\"][i] = parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\nvar sum=0;\nvar average=0;\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    sum=sum+payload[\"values\"][i];\n}\naverage=parseFloat(sum/global.get(\"sampleSize\"));\n\n\n// Position calibration values\nglobal.set(\"positionCoef0\", global.get(\"positionCoef1\") *(-1)*average );\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\n\n// Printout a status variable.\nstatusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":440,"wires":[[]]},{"id":"3c247aaa.905bf6","type":"file in","z":"da968ef1.da21f","name":"Read Measurement File","filename":"output2.0","format":"","chunk":false,"sendError":false,"x":770,"y":440,"wires":[["e26cc8ca.d8cca8"]]},{"id":"90c61c9d.8cbd8","type":"ui_button","z":"da968ef1.da21f","name":"Calibration","group":"a726aefd.5a191","order":1,"width":3,"height":2,"passthru":false,"label":"Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["747ea8b3.914ba8"]]},{"id":"9cea6a60.73c998","type":"gpio out","z":"da968ef1.da21f","name":"Zero Laser","state":"OUTPUT","pin":"P9_30","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"b22bcb60.11a438","x":770,"y":220,"wires":[]},{"id":"a7a11557.732a18","type":"trigger","z":"da968ef1.da21f","d":true,"name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"510","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":280,"wires":[["9cea6a60.73c998","94811160.0066b"]]},{"id":"94811160.0066b","type":"delay","z":"da968ef1.da21f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":280,"wires":[["86fc33cc.4ba0c"]]},{"id":"6aad7237.838a3c","type":"ui_text","z":"da968ef1.da21f","group":"a726aefd.5a191","order":5,"width":3,"height":2,"name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":570,"y":520,"wires":[]},{"id":"6bb1eb8e.a229a4","type":"change","z":"da968ef1.da21f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Calibrating","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":520,"wires":[["6aad7237.838a3c"]]},{"id":"930ca8b4.f8d018","type":"change","z":"da968ef1.da21f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ready","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":600,"wires":[["6aad7237.838a3c"]]},{"id":"1aa77d68.3860d3","type":"complete","z":"da968ef1.da21f","name":"","scope":["747ea8b3.914ba8"],"uncaught":false,"x":150,"y":520,"wires":[["6bb1eb8e.a229a4"]]},{"id":"a20a2020.70017","type":"complete","z":"da968ef1.da21f","name":"","scope":["8aaec604.101498"],"uncaught":false,"x":150,"y":600,"wires":[["930ca8b4.f8d018"]]},{"id":"5c9433.00bcfbcc","type":"complete","z":"da968ef1.da21f","name":"","scope":["e26cc8ca.d8cca8"],"uncaught":false,"x":150,"y":640,"wires":[["930ca8b4.f8d018"]]},{"id":"30149477.d2c9ec","type":"link out","z":"bffdb4df.cd5f48","name":"Measuring Status","links":["497b1051.574a1"],"x":855,"y":480,"wires":[]},{"id":"497b1051.574a1","type":"link in","z":"da968ef1.da21f","name":"Measuring Status","links":["30149477.d2c9ec"],"x":235,"y":700,"wires":[["7b368c18.105c54"]]},{"id":"7b368c18.105c54","type":"change","z":"da968ef1.da21f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Measuring","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":700,"wires":[["6aad7237.838a3c"]]},{"id":"f0707f77.f2204","type":"complete","z":"bffdb4df.cd5f48","name":"","scope":["b2b0b5ba.214f48","53030071.09f0a","a025ae98.eeade","e58391c3.86a27","36720b.94d59df6"],"uncaught":false,"x":1780,"y":620,"wires":[["8bfe105c.9032b"]]},{"id":"8bfe105c.9032b","type":"link out","z":"bffdb4df.cd5f48","name":"Done Measuring Status","links":["17a93181.7c582e"],"x":1915,"y":620,"wires":[]},{"id":"17a93181.7c582e","type":"link in","z":"da968ef1.da21f","name":"Done Measuring Status","links":["8bfe105c.9032b"],"x":195,"y":560,"wires":[["930ca8b4.f8d018"]]},{"id":"61381495.60a9bc","type":"debug","z":"da968ef1.da21f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":500,"wires":[]},{"id":"1ceb2d.36e1c4d4","type":"script","z":"bffdb4df.cd5f48","name":"","func":"var five = require('johnny-five');\nvar BeagleBone = require('beaglebone-io');\n\nvar board = new five.Board({\n  io: new BeagleBone()\n});\n\nboard.on('ready', function() {\n  var led = new five.Led('P9_27');\n  led.pulse(1000);\n});","board":"b22bcb60.11a438","noerr":0,"x":640,"y":100,"wires":[[]]},{"id":"9f422d2b.7371c","type":"inject","z":"bffdb4df.cd5f48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":60,"wires":[["1ceb2d.36e1c4d4"]]}]